/src/hibernate.cfg.xml
/src/hibernate.reveng.xml
/nbproject/private/
/build/
/src/javaapplication9/Ficha.hbm.xml
/src/javaapplication9/Producto.hbm.xml
/src/javaapplication9/Ficha.java
/src/javaapplication9/NewHibernateUtil.java
/src/javaapplication9/Producto.java
/src/Imagenes/botonUltMovimientos.png
/src/Imagenes/bordoRankingApretado.png
/src/Imagenes/botonDevolucion.png
/src/Imagenes/botonStockMinimo.png
/src/Imagenes/botonRankingLideres.png
/src/Imagenes/bordoProductos.png
/src/Imagenes/bordoFichasApretado.png
/src/Imagenes/botonConsignacion.png
/src/Imagenes/botonResumen.png
/src/Imagenes/bordoCaja.png
/src/Imagenes/botonVenta.png
/src/Imagenes/botonListado.png
/src/Imagenes/bordoProductosApretado.png
/src/Imagenes/botonVerListado.png
/src/Imagenes/botonRankingExpertas.png
/src/Imagenes/bordoCajaApretado.png
/src/Imagenes/botonNuevoProd.png
/src/Imagenes/bordoFichas.png
/src/Imagenes/botonNuevaFicha.png
/src/Imagenes/bordoRanking.png